*.iml

.gradle/
build/
**/build/

local.properties

.idea/
.idea/**
/.idea_modules/
.kotlin/

captures/
.externalNativeBuild/
.cxx/

*.jks
*.keystore
key.properties

*.apk
*.ap_
*.aab
*.log

.DS_Store
Thumbs.db
Desktop.ini

